body {
    margin: 0%;
    padding: 0%;
}




main {
    background: url("img/background_Index.jpg") no-repeat center fixed;
    background-size: cover;
    height: auto;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.presentation-jeu {
    display: flex;
    justify-content: space-between;
}

/*tableau des jeux*/
div.jeu-1,
div.jeu-2,
div.jeu-3 {
    background-color: rgba(14, 41, 103, 0.65);
    border: 2px solid rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.image-jeu {
    justify-content: center;
}

.page-h2,
.Title,
.text-jeu {
    font-variant: small-caps
}

.Title,
.page-h2 {
    font-size: xx-large;
}

.col-Jeux-1,
.col-Jeux-2,
.col-Jeux-3 {
    flex-direction: column;
}

p::first-letter {
    font-size: x-large;
}





@media screen and (max-width :768px) {

    

    /*Main*/
    .presentation-jeu {
        flex-direction: column;
        margin: 2vh 1.6vw;
    }

    .presentation {
        width: fit-content;
    }

}