body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/images/bg-opaque.png");
  background-size:cover;
}

.main-center {
  width: 80%;
  min-height: 90vh;
  box-shadow: 0 0 1em black;
  background-color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#atlus-h1 {
  width: 100%;
  height: 200px;
  box-shadow: 0 0 0.25em black;
}

.about-atlus {
  display: flex;
  padding: 30px 30px 30px 30px;
  font-size: 1.25rem;
}

#studio-tokyo {
  height: 300px;
  box-shadow: 0 0 0.25em black;
}

.history {
  display: flex;
}

.history-div {
  padding: 30px 30px 30px 30px;
  font-size: 1.25rem;
}

#studio-history {
  height: 300px;
  width: 450px;
  box-shadow: 0 0 0.25em black;
}

.notable-franchises {
  padding: 30px 30px 30px 30px;
  font-size: 1.25rem;
}

.jeux-franchises {
  display: flex;
  justify-content: space-evenly;
  background-color: #163466;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 25px;
  box-shadow: 0 0 0.25em black;
}

.franchises {
  padding: 15px 15px 15px 15px;
}


.franchises-img {
  height: 200px;
  width: 150px;
  box-shadow: 0 0 0.25em black;
}


.form-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #163466;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin: 20vh;
  border-radius: 25px;
  min-height: 800px;
  height: 800px;
  width: 95%;
  box-shadow: 0 0 0.25em black;
}

.contact-description {
  color: white;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.contact-description > h1{
  text-align: center;
}

label {
  color: white;
}

select {
  width: 508px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

textarea{
  width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  resize: none;
}

input {
  width: 500px;
  height: 40px;
}

.envoyer {
  font-weight: bold;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color:#EA0051;
  color: white;
  width: 520px;
  height: 50px;
  border-radius: 15px;
  font-size: 1.5rem;
  box-shadow: 0 0 0.1em black;
  text-shadow: 1px 1px 2px black;
}

footer {
  height: 100px;
  width: 100%;
  color: white;
  
}

.footer {
  background-image: url("/assets/images/bluebg.jpg");
  background-size: cover;
  box-shadow: 0 0 0.1em black;
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.logo-fandom {
 height: 50px;
 width: 175px;
}

.logo-fandom2 {
  height: 80px;
}

.div-logo-socials {
  margin-top: 10px;
}

.logos-socials {
  height: 30px;
}

.overview {
  width: 25%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.fandom-apps {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.appstore {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
}

.store {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.logo-store {
 height: 38px;
 width: 130px;
}

.copyright {
  background-color: black;
  text-align: center;
  font-size: 1rem;
  padding: 10px 10px;
  box-shadow: 0 0 0.1em black;
}

a:link {
  color:darkorange;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color:darkorange;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color:darkorange;
}

@media screen and (max-width: 1200px) {
  #studio-tokyo {
    height: 200px;
  }
  
  #studio-history {
    height: 200px;
    width: 300px;
  }

  .jeux-franchises {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 25px;
  }
  
  .franchises {
    padding: 10px 10px 10px 10px;
  }
  
  
  .franchises-img {
    height: 150px;
    width: 112.5px;
    box-shadow: 0 0 0.25em black;
  }
}

@media screen and (max-width: 960px) {
  #studio-tokyo {
    height: 150px;
  }
  
  #studio-history {
    height: 150px;
    width: 225px;
  }
  
  .franchises-img {
    height: 125px;
    width: 93.75px;
    box-shadow: 0 0 0.25em black;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.6rem;
  }

  
  #atlus-h1 {
    width: 100%;
    height: 100px;
    box-shadow: 0 0 0.25em black;
  }

  .about-atlus {
    flex-direction: column;
    align-items: center;
  }

  .history {
    flex-direction: column;
    align-items: center;
  }

  .jeux-franchises {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
  
  .franchises {
    padding: 10px 10px 10px 10px;
  }
  
  
  .franchises-img {
    height: 200px;
    width: 150px;
  }

  .form-contact {
    font-size: 1rem;
    min-height: 500px;
    height: 550px;
  }

  .contact-description {
    padding-bottom: 10px;
  }

  select {
    width: 258px;
    height: 35px;
    font-size: 1rem;
  }
  
  textarea{
    width: 250px;
    height: 100px;
    font-size: 1rem;
  }
  
  input {
    width: 250px;
    height: 30px;
  }
  
  .envoyer {
    width: 265px;
    height: 45px;
    border-radius: 15px;
    font-size: 1.4rem;
  }

  footer {
    height: 75px;
  }

  .socials {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .logo-fandom {
   height: 30px;
   width: 105px;
  }
  
  .logo-fandom2 {
    height: 48px;
  }
  
  .div-logo-socials {
    margin-top: 5px;
  }
  
  .logos-socials {
    height: 15px;
  }
  
  .overview {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .fandom-apps {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .appstore {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .store {
    margin-left: 5px;
  }
  
  .logo-store {
   height: 23px;
   width: 78px;
  }
  
  .copyright {
    font-size: 0.8rem;
    padding: 5px 5px;
  }
}